body {
    margin: 0;
    background: #151515;
    color: white;
    display: flex;
    align-items: left;
    font-family: sans-serif;
    overflow-x: hidden;
}
svg {
    width: 90vw;
    height: 90vh;
    background: #151515;
}
.edge {
    stroke: #888;
    stroke-width: 2;
}
.node circle {
    stroke: #333;
    stroke-width: 2;
    cursor: pointer;
}
.node text, .seq_item text{
    text-anchor: middle;
    dominant-baseline: middle;
    pointer-events: none;
    font-size: 14px;
}
.controls{
    margin: 10px;
}
#popup, #seq_popup, #seq_edit_popup {
    position: fixed;
    background: white;
    color: rgb(30, 30, 30);
    border: 2px solid #444;
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
}
#popup select, #popup button, #seq_popup select, #seq_popup button, #seq_edit_popup select, #seq_edit_popup button {
    font-size: 14px;
    padding: 4px;
}

#seq_input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 8px;
    background: white;
    color: rgb(30, 30, 30);
}
#seq_container button, .seq_item {
    font-size: 18;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #444;
    border-radius: 8px;
    background: white;
    color: rgb(30, 30, 30);
    cursor: pointer;
    width: 60px;
    height: 80px;
    flex-shrink: 0; 
}
#seq_bar button:hover {
    background: #eee;
}

#seq_bar, #seq_container{
    display: flex;
    gap: 8px;
    max-width: 90vw;
    overflow-x: auto;
    white-space: nowrap;
}

#seq_to_tree{
    margin: 4px;
}

#seq_append_btn{
    font-size: 24px;
}

#tree {
    overflow: auto;
    width: 80000px;
    height: 5000px;
}

#sample_songs, #play_constrols {
    color:#eee;
    background-color: #151515;
    border-radius: 4px;
    padding: 4px;
}
button {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#main{
    height: 100vh;
    resize: horizontal;
    overflow: auto;
    flex: 0 0 auto;     /* flex-grow:0, flex-shrink:0, width:auto */
    width: 432px; 
}

#svg_container{
    flex: 1;            /* fill remaining space */
    overflow: auto;
}

#intoduction_container{
    position: absolute;
    bottom: 4%;
    left: 4%;
}

.popup2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* centers it */

    background: white;
    color: rgb(30, 30, 30);
    border: 2px solid #444;
    border-radius: 8px;
    padding: 36px;
    max-height: 70vh;
    width: 36vw;
    display: none;
    flex-direction: column;
    z-index: 100;
}

.popup2 button{
    border-radius: 80px;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 8px;
    top: 8px;
    border: 2px solid white;
}

.title_s{
    width: auto;
    background-color: #434343;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    padding: 4px;
}
