body {
    margin: 0;
    background: #151515;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg {
    width: 90vw;
    height: 90vh;
    background: #151515;
}
.edge {
    stroke: #888;
    stroke-width: 2;
}
.node circle {
    stroke: #333;
    stroke-width: 2;
    cursor: pointer;
}
.node text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: sans-serif;
    font-size: 14px;
}
.controls {
    margin: 10px;
}
#popup, #seq_popup {
    position: fixed;
    background: white;
    color: rgb(30, 30, 30);
    border: 2px solid #444;
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
}
#popup select, #popup button, #seq_popup select, #seq_popup button {
    font-size: 14px;
    padding: 4px;
}

#seq_input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 8px;
    background: white;
    color: rgb(30, 30, 30);
    display: inline-block;
}
#seq_bar button{
    border: 2px solid #444;
    border-radius: 8px;
    background: white;
    color: rgb(30, 30, 30);
    cursor: pointer;
    width: 60px;
    height: 80px;
}
#seq_bar button:hover {
    background: #eee;
}
